body {
  color: #def;
  background: #005db9 url(../img/back.png) repeat-x;
  min-height: 300px;
}

a { color: #def; text-decoration: underline; }
a:hover { color: #fff; }


#container {
  width: 600px;
  margin: 0 auto;
  overflow: hidden;
}

#logo_top {
  background-image: url(../img/logo_top.png);
  height: 300px;
  width: 100%;
  margin-bottom: 50px;
}

#logo_top span {
  display: none;
}

#user_status {
  font-size:20px;
  text-align: right;
  margin: 1em 0;
}

#header a {
  display: block;
  height: 100px;
  background-image: url(../img/logo_small.png);
}

#header span {
  display: none;
}

h2 {
  font-size: 56px;
}

#buildings {
  background-color: #def;
  margin-top: 50px;
  padding: .5em 0;
}

#buildings p {
  margin: .5em;
  font-size: 28px;
  color: #05b;
  text-align: center;
}

.tank_list {
  font-size: 28px;
  list-style-type: none;
  padding: 0;
}

.tank_list li {
  margin: .7em 0;
}

.tank_list li a {
  color: #05b;
  text-decoration: none;
  display: block;
  background-color: #def;
  padding: .5em 1em;
}

.tank_list li a:hover {
  background-color: #fff;
}

#ImagePaintForm {
  margin: 2em 0;
  font-size: large;
}

#ImagePaintForm select {
  padding: .5em;
}
