.tank {
  width: 920px;
  height: 600px;
  background-color: #eff;
  margin-left: -320px;
  position: relative;
  overflow: hidden;
}

.tank .fish {
  position: absolute;
}

.tank img {
  position: relative;
  width: 320px;
  transition: transform 300ms linear;
  -webkit-transition: -webkit-transform 300ms linear;
}

.tank img:hover {
  transform: scale(1.2,1.2);
  -webkit-transform: scale(1.2,1.2);
}

.tank .updown {
  animation: updown ease-in-out alternate infinite both;
  -webkit-animation: updown ease-in-out alternate infinite both;
}

.tank .swim {
	animation: swim ease-in-out alternate infinite both;
	-webkit-animation: swim ease-in-out alternate infinite both;
}

@keyframes updown {
	from { top: 0; }
	to   { top: 100px; }
}
@-webkit-keyframes updown {
	from { top: 0; }
	to   { top: 100px; }
}

@keyframes swim {
	from { left: 0%; }
	to   { left: 100%; }
}
@-webkit-keyframes swim {
	from { left: 0%; }
	to   { left: 100%; }
}
